@use "../global/" as *;

// projects.modules.scss

.project-section {
    background: white;
  
    .container {
      display: flex;
      flex-direction: column;
    }

    .projetos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 6rem;
        padding-top: 6rem;
        border-bottom: 1px solid gray;

    }
  
    h1 {
      font-size: $h1;
      font-weight: $h1-weight-hero;
    }
  
    h4 {
      font-size: $h4;
      font-weight: $p-weight-hero;
    }
  
    span {
      font-size: $span;
    }

    .tecstack {
      font-style: italic;
      color: gray;
      font-weight: 200;
    }
  
    .project-sumary {
      display: flex;
      flex-direction: column;
      width: 30%;
      gap: 2rem;
    }
  
    .project-img {
      position: relative;
      width: 60%;
    }
  
    .thumb {
        position: absolute;
        top: 15vh;
        left: -15vh;
        width: 35%;
        height: auto;
        z-index: 1;
      }
    
      .gif {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
  
    @media (max-width: 1000px) {
      .projetos {
        flex-wrap: wrap;
      }
  
      .project-sumary {
        width: auto;
      }
  
      .project-img {
        width: 100%;
      }

      .thumb {
        display: none;
      }
    }

    //Animations

    .fadeIn {
      animation: fadeInAnimation 3.5s ease-in-out forwards;
      opacity: 0;
    }
    
    @keyframes fadeInAnimation {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    
  }
  

