@use "../global/" as *;

.About-section {
    height: auto;
    background: black;

    .border-divider {
        border: 1px solid gray;
    }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.list-comp {
    display: flex;
    flex-direction: row;
    padding-bottom: 4rem;
    color: white;

}

.info-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding-top: 4rem;
    color: white;
}
    h2 {
        font-size: $page;
        color: white; 
        padding-bottom: 4rem;
    }

    h3 {
        color: white;
        font-size: $h3;
        font-weight: $p-weight-hero;
    }

    .exp-list {
        color: white;
        font-weight: $h3-weight-hero;
    }

    p {
        color: gray;
        font-size: $p;
        width: 70%;
    }

    .info-card-items {
        width: 100%;
        list-style: none;
        color: white;
        font-size: $h2;
        font-weight: $h3-weight-hero;
        margin-bottom: 10px;
    }

    .info-card-items li {
        color: white; /* Altere a cor como desejar */
        font-size: $h2;
      }
    
    .custom-title {
        font-size: $h4;
        font-weight: 400;
        padding-bottom: 4rem;
      }
      

    @media (max-width: 1000px) {
        
        .container {
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }

        .info-card {
            width: auto;
        } 

        .list-comp {
            flex-direction: column;
        }

        p {
            width: 90%;
        }

        .info-card-items li {
            font-size: $h3;
          }

    }

}